In [1]:
# import necessary libraries
import pandas as pd
pd.set_option('display.max_colwidth', 100)
df = pd.read_csv("sample_text.csv")
df.shape

(8, 2)

In [2]:
df

,text,category
0,Meditation and yoga can improve mental health,Health
1,"Fruits, whole grains and vegetables helps control blood pressure",Health
2,These are the latest fashion trends for this week,Fashion
3,Vibrant color jeans for male are becoming a trend,Fashion
4,The concert starts at 7 PM tonight,Event
5,Navaratri dandiya program at Expo center in Mumbai this october,Event
6,Exciting vacation destinations for your next trip,Travel
7,Maldives and Srilanka are gaining popularity in terms of low budget vacation places,Travel

In [3]:
from sentence_transformers import SentenceTransformer

In [4]:
encoder = SentenceTransformer("all-mpnet-base-v2")
vectors = encoder.encode(df.text)

In [5]:
vectors.shape

(8, 768)

In [6]:
dim = vectors.shape[1]
dim

768

### Step 2 : Build a FAISS Index for vectors

In [7]:
import faiss

index = faiss.IndexFlatL2(dim)

### Step 3 : Normalize the source vectors (as we are using L2 distance to measure similarity) and add to the index

In [8]:
index.add(vectors)

In [9]:
index

### Step 4 : Encode search text using same encorder and normalize the output vector

In [18]:
search_query = "Diwali is indian festival"
# search_query = "looking for places to visit during the holidays"
# search_query = "An apple a day keeps the doctor away"
vec = encoder.encode(search_query)
vec.shape

(768,)

In [19]:
import numpy as np
svec = np.array(vec).reshape(1,-1)
svec.shape

(1, 768)

### Step 5: Search for similar vector in the FAISS index created

In [20]:
distances, I = index.search(svec, k=2)
distances

array([[1.2284697, 1.671976 ]], dtype=float32)

In [21]:
I

array([[5, 2]], dtype=int64)

In [23]:
df.loc[I[0]]

                                                              text category
5  Navaratri dandiya program at Expo center in Mumbai this october    Event
2                These are the latest fashion trends for this week  Fashion

#### this is the sementic Search

In [24]:
search_query

'Diwali is indian festival'